<div class="row">
  <div class="col-md-5">
    <img src="/images/Diamond-Dust-leaflet_20130328.jpg" width="100%">
  </div>
  <div class="col-md-7">
    <h2>About us</h2>
    <p>
    <strong>บริษัท ผลิตน้ำแข็งไทยขนส่ง จำกัด</strong>
    ก่อตั้งขึ้นเมื่อปี 2011 เป็นบริษัทหลักในกลุ่มธุรกิจการตลาดและการจัดจำหน่ายของ ห้างหุ้นส่วนจำกัด โรงน้ำแข็งสำโรง ประกอบธุรกิจจำหน่ายและจัดส่งสินค้าประเภทน้ำแข็งและน้ำดื่มภายใต้เครื่องหมายการค้า Diamond Dust ให้แก่ ห้างสรรพสินค้า ร้านอาหาร และลูกค้าทั่วไปที่ต้องการน้ำแข็งที่มีคุณภาพและการจัดส่ง/การบริการที่มีมาตรฐาน ปัจจุบันบริษัทฯ มีสาขาจำนวน 2 สาขา คือ สาขาบางนา และ สาขาบางคูวัต โดยตั้งเป้าหมายขยายให้เป็น 5 สาขา ภายในปี 2016
    <br><strong>ที่ตั้ง</strong> สำนักงานใหญ่ตั้งอยู่เลขที่ 84 หมู่ที่ 4 ต.เทพารักษ์ อ.เมือง จ.สมุทรปราการ 10270
    <br><strong>โทรศัพท์</strong> 0 2756 8574
    <br><strong>โทรสาร</strong> 0 2756 8575
    <br><strong>เลขทะเบียนบริษัท</strong> 0115554018431
    </p>
  </div>
</div>

