<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/product/pon.jpg" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
    </div>
  </div>
  <div class="col-md-8">
    <h2>น้ำแข็งป่น</h2>
    เหมาะสำหรับ  การแช่ของสด แช่น้ำขวด<br>
    กระสอบ Reuse<br>
    22 กิโลกรัม<br>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/product/small_and_big.jpg" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
    </div>
  </div>
  <div class="col-md-8">
    <h2>น้ำแข็งหลอดใหญ่</h2>
    เหมาะสำหรับ ใช้รับประทาน
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/product/small_and_big.jpg" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
    </div>
  </div>
  <div class="col-md-8">
    <h2>น้ำแข็งหลอดเล็ก</h2>
    เหมาะสำหรับ ใช้รับประทาน
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/product/" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
    </div>
  </div>
  <div class="col-md-8">
    <h2>น้ำแข็งก้อน</h2>
    เหมาะสำหรับ แช่ของของสด และ ทำน้ำแข็งใส
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/product/" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
    </div>
  </div>
  <div class="col-md-8">
    <h2>น้ำแข็งหลอดใหญ่ 1.5 กิโลกรัม</h2>
    เหมาะสำหรับใช้รับประทาน
  </div>
</div>
<hr>
