<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/stores/IMG_1149.JPG" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
    </div>

  </div>
  <div class="col-md-8">
    <h2>สาขา บางนา</h2>
    พื้นที่โดยรวม 68 ตารางเมตร<br>
    ขนาดความจุห้องเย็น 15 ตัน<br>
    เวลาทำการ 07.00-17.00 น.<br>
    พื้นที่จัดส่งครอบคลุม กรุงเทพตะวันออก, สมุทรปราการ และ ฉะเชิงเทรา
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/images/stores/2.TIVE1.JPG" data-src="holder.js/300x200" style="width:300px; height:200px;" alt="">
    </div>

  </div>
  <div class="col-md-8">
    <h2>สาขา บางคูวัต</h2>
    พื้นที่โดยรวม 55 ตารางเมตร<br>
    ขนาดความจุห้องเย็น 10 ตัน<br>
    เวลาทำการ 07.00-17.00 น.<br>
    พื้นที่จัดส่งครอบคลุม กรุงเทพตะวันตก, ปทุมธานี และ นนทบุรี<br>
  </div>

</div>
